@import "../../../../util/styles/_color";
.email-grade-first-container {
  width: 800px;
  height: 422px;
}

.inner-grade-title-wrapper {
  padding: 28px 0px 26px 43px;
}

.inner-grade-bodysize-wrapper {
  width: 703px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 32px 42px 32px 32px;
}
.inner-grade-input-wrapper {
  width: 350px;
  margin-left: 52px;
}
.inner-grade-input-header-wrapper {
  border-bottom: 1px solid #e4e6f0;
  padding-bottom: 23px;
}

.inner-grade-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.table-wrapper {
  width: 846px;
}
