.leftnav-wrapper-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 205px;
	min-height: 100vh;
	background-color: #ffffff;
	box-shadow: 2px 0 20px 0 rgba(118, 116, 165, 0.11);
}

.leftnav-linklist-container {
	width: 157px;
	margin-top: 52px;
}