.leftnav-wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 205px;
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #ffffff;
  box-shadow: 2px 0px 20px 0px rgba(118, 116, 165, 0.11);
  z-index: 999;
}

.leftnav-linklist-container {
  width: 100%;

  margin-top: 52px;
}

.logout-container {
  padding: 20px;
}

.button-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 0px 50px 50px 0px;
  height: 34px;
  padding-left: 30px;
}

.button-wrapper:hover {
  background-color: #f5f7ff;
}
