.leftnav-wrapper-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 205px;
  height: 720px;
  background-color: #ffffff;
  box-shadow: 2px 0px 20px 0px rgba(118, 116, 165, 0.11);
  z-index: 999;
}

.leftnav-linklist-container {
  width: 157px;
  margin-top: 52px;
}
