@import "../../../utils/styles/_color";

.recruit-template-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.recruit-tamplate-wrapper {
  display: flex;
  flex-direction: column;
  background-color: $gray_1;
  height: 100%;
}
