.recruit-input-container {
  background-color: #ffffff;
}

.recruit-input-header {
  padding: 28px 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #2f3f6f;
}

.recruit-input-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 31px;
}

.recruit-date-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 20px;

  > p {
    margin-right: 28px;
  }
}

.recruit-date-input-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.recruit-input-footer {
  display: flex;
  justify-content: center;
  padding-bottom: 31px;
}
