@import "../../../util/styles/_color";
.header-wrapper-container {
  display: flex;
  padding: 18px 39px;
  background-color: var(--gray1);
}
.header-contents-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.body-contents-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: $gray_1;
}
