.header-wrapper-container {
	display: flex;
	justify-content: center;
}
.header-contents-wrapper {
	display: flex;
	align-items: center;
	height: 77px;
	width: 800px;
	background-color: #f9fafc;
}

.body-contents-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #ffffff;
}