.select {
  // 스타일 전반
  width: 257px;
  border-radius: 4px;
  border: solid 1px var(--gray2);
  overflow: hidden;

  // 폰트
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.25px;

  // 아이콘
  .select__dropdown-icon {
    margin-left: 1rem;
    display: inline-block;
    svg {
      transition: transform 0.5s;
    }
    &.toggled {
      svg {
        transform: rotate(180deg);
      }
    }
  }

  // 아이템
  .select__item-list {
    margin: 0;
    padding: 0;
    height: 240px;
    overflow-y: auto;
    list-style: none;
    &.show {
      display: block;
    }
    &.hide {
      display: none;
    }

    &::-webkit-scrollbar {
      width: 6px;
      background-color: none;
    }

    &::-webkit-scrollbar-thumb {
      width: 6px;
      border-radius: 3px;
      background-color: rgba(var(--gray6), 0.6);
    }
  }
  .select__item {
    padding: 10px 12px;
    cursor: pointer;
    &:hover {
      background-color: var(--lightblue2);
      color: var(--helperblue);
    }
  }

  .select__item--selected {
    display: flex;
    justify-content: space-between;
    padding: 10px 12px;
    color: var(--gray4);
    cursor: pointer;
    transition: color 0.5s;
  }

  // 모션
  transition: border-color 0.5s;

  // 액션
  &:hover {
    border-color: var(--helperblue);
  }
  &.selected {
    border-color: var(--helperblue);
    .select__item--selected {
      color: var(--gray6);
    }
  }
}
