<!DOCTYPE html>
<html>
  <head>
    <style>
      /* @import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css'); */
      /* html {
				font-family: 'Spoqa Han Sans';
			} */
    </style>
  </head>
  <body style="margin: 0px;">
    <div id="root"></div>
    <script src="<%= process.env.HOST_URL %>/dist/index.js"></script>
  </body>
</html>
