<!DOCTYPE html>
<html>
	<head>
		<style>
			@import url('//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css');
		</style>
	</head>
	<body>
		<div id="root"></div>
		<script src="<%= process.env.HOST_URL %>/dist/index.js"></script>
	</body>
</html>