.form-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 24px 30px;
}
.title-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 15.5px;
  margin-bottom: 23.5px;
  border-bottom: 1px solid #dfdfdf;
  .title-label {
    margin-right: 25px;
    word-break: keep-all;
  }
}

.header-image-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-bottom: 1px solid #dfdfdf;
  padding-bottom: 15.5px;
  margin-bottom: 23.5px;

  .header-image-label {
    margin-bottom: 20px;
  }

  .header-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

.mail-content-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-bottom: 15.5px;
  margin-bottom: 23.5px;
  border-bottom: 1px solid #dfdfdf;

  .mail-content-label {
    margin-bottom: 20px;
  }
  .mail-content {
  }
}

.attach-file-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 15.5px;
  margin-bottom: 23.5px;
  border-bottom: 1px solid #dfdfdf;
  .attach-file-label {
    font-family: NotoSansKR;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.29px;
    color: var(--gray6);
    margin-right: 23px;
  }
}

.sub-image {
  width: 100%;
  height: 150px;
  margin-bottom: 23.5px;
  object-fit: cover;
}

.footer {
  width: 100%;
  display: flex;
}
