
.title-wrapper {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #dfdfdf;
	padding: 35px 0px 23px 32px;
}
.title-input {
	width: 665px;
	height: 40px;
	margin-left: 25px;
  border-radius: 4px;
  border: solid 1px silver;
}