.email-grade-first-container {
	width: 800px;
	height: 422px;
}

.inner-grade-title-wrapper {
	padding: 28px 0px 26px 43px;
}

.inner-grade-bodysize-wrapper {
	width: 703px;
	display: flex;
	background-color: white;
	padding: 32px 0px 32px 32px; 
}