@import "../../../../util/styles/_color";
.table-row-style {
  height: 50px;
  > td {
    border-bottom: 1px solid $gray_3;
    padding-left: 24px;
    font-size: 14px;
    color: $gray_5;
    letter-spacing: -0.25px;
  }

  > th {
    border-bottom: 1px solid $gray_3;
  }
}
