@import "../../../../util/styles/_color";
.logoutButton {
  width: 160px;
  height: 36px;
  border-radius: 8px;
  font-size: 12px;
  color: $gray_5;
  border: none;
  background-color: $gray_1;
  &:hover {
    background-color: #f0f0f7;
  }
}
