@import "../../../../utils/styles/_color";
.content-wrapper {
  width: 846px;
  background-color: #f5f6fa;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.04);
  header {
    display: flex;
  }
  article {
    border-bottom: 1px solid #aaaaaa;
    padding: 22px 61px 22px 32px;
  }
  .head-nav-button {
    display: flex;
    align-items: center;
    padding: 0px 30px 0px 30px;
    height: 54px;
    color: $gray_4;
  }
  .selected {
    background-color: #ffffff;
    color: $gray_6;
  }
}
.body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.subFileName {
  color: $helper_blue;
  text-decoration: underline;
  cursor: pointer;
}
