@import "../../../../util/styles/_color";
.table-row-style {
  height: 50px;
  > td {
    border-bottom: 1px solid $gray_3;
    padding-left: 24px;
    font-size: 14px;
    letter-spacing: -0.25px;
    color: $gray_5;
  }

  > th {
    border-bottom: 1px solid $gray_3;
  }

  &.success {
    & td:last-child {
      color: $success_green;
    }
  }
  &.failure {
    background-color: rgba(255, 102, 103, 0.04);

    & td:last-child {
      color: $failure_red;
    }
  }
  &.request {
  }
}
