@import "../../util/styles/_color";
.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $gray_1;
}

.content-wrapper {
  width: 1024px;
  text-align: left;
}

.head-title-logo {
  font-size: 22px;
  font-weight: bold;
  color: #1c1761;
  margin-bottom: 70px;
}

.page-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
  .helper-do-work {
    font-size: 14px;
    font-weight: bold;
    color: $blue_3;
  }
}

.link-box-wrapper {
  display: flex;
}
