@import "../../util/styles/_color";

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray_1;
  padding: 50px 107px;
  .form-wrapper {
    flex: 1;
    background-color: #ffffff;
  }
}

.tab-bar-wrapper {
  display: flex;
  background-color: #d8d8d8;
}
