@import "../../util/styles/_color";
.header {
  background-color: #f5f6fa;
}
.body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $gray_1;
  .form-wrapper {
    background-color: #ffffff;
    width: 846px;
  }
}

.tab-bar-wrapper {
  display: flex;
  background-color: #d8d8d8;
}
