@import "../../../../util/styles/_color";
.nomalButton {
  font-size: 14px;
  border: none;
  &.default {
    background-color: $helper_blue;
    color: #ffffff;
    &:hover {
      background-color: #063eff;
    }
  }
  &.lightBlue {
    background-color: $helper_blue2;
    color: $helper_blue;
    &:hover {
      background-color: #eef1ff;
    }
  }

  &.default-size {
    width: 140px;
    height: 40px;
    border-radius: 4px;
  }
  &.samll-size {
    width: 90px;
    height: 40px;
    border-radius: 3px;
  }
  &:disabled {
    background-color: $gray_2;
    color: $gray_4;
  }

  & + & {
    margin-left: 8px;
  }
}
