@import "../../../../utils/styles/_color";
.nomalButton {
  font-size: 14px;
  border: none;
  font-weight: 500;
  &.default {
    background-color: $helper_blue;
    color: #ffffff;
    &:hover {
      background-color: #063eff;
    }
  }
  &.lightBlue {
    background-color: $helper_blue2;
    color: $helper_blue;
    &:hover {
      background-color: #eef1ff;
    }
  }
  &.grayOutLine {
    background-color: #ffffff;
    border: solid 1px #e3e3e3;
    color: $gray_5;
    &:hover {
      border: solid 1px #e3e3e3;
      background-color: #fafafd;
    }
  }
  &.blueOutLine {
    color: $helper_blue;
    border: solid 1px $helper_blue;
    background-color: #ffffff;
    &:hover {
      background-color: #eef1ff;
    }
  }
  &.ghost {
    background-color: inherit;
    color: $gray_5;
    &:hover {
      color: #000000;
    }
  }

  &.default-size {
    width: 140px;
    height: 40px;
    border-radius: 4px;
  }
  &.small-size {
    width: 90px;
    height: 40px;
    border-radius: 3px;
  }
  &:disabled {
    background-color: $gray_2;
    color: $gray_4;
  }

  & + & {
    margin-left: 8px;
  }
}
