@import "../../../utils/styles/_color";
.button {
  width: 120px;
  height: 40px;
  border-radius: 4px;
  background-color: $white;
  border: solid 1px $helper_blue;
  font-size: 14px;
  font-weight: 500;
  color: $helper_blue;
}
