.file-drop-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 349px;
  height: 260px;
  border-radius: 6px;
  border: 2px dashed #d8d8d8;
  background-color: #fbfbfd;
}
.drop-box-guide-text {
	font-size: 12px;
	line-height: 1.67;
	letter-spacing: -0.44px;
	margin: 0px;
  color: #a0a0a0;
}
.drop-box-anchorstyle {
	text-decoration: underline;
	color: #3751ff;
	line-height: 1.67;
  letter-spacing: -0.44px;
	font-size: 12px;
	margin: 0px;
	cursor: pointer;
}

.margin-bottom18px-wrapper {
	margin-bottom: 18px;
}