$gray_pale: #f7f8fc;
$gray_1: #f9f9fb; // background
$gray_2: #edeef0; // disabled
$gray_3: #f2f3f6; // hover, divider
$gray_4: #aeafae; // disabled text
$gray_5: #565a61; // text
$gray_6: #25272c; // black text

$blue_1: #f5f7ff; // button, number label
$blue_2: #e7efff; // hover
$blue_3: #3562ff; // button, text
$helper_blue: #3562ff; // button, text
$helper_blue2: #e7efff;

$success_green: #8dd895;
$failure_red: #ff6667;
